.gallery{
    width: 100vw;
    height: 150vh;
    background-color: white;
    display: flex;
    justify-content: center;
    text-align: center;
}
.row-one{
    display: flex;
}
.row-one p{
    position: relative;
    bottom: 3vh;
    font-size: 2.5vh;
    font-weight: bold;
}
.row-two{
    display: flex;
}
.row-two p{
    position: relative;
    bottom: 3vh;
    font-size: 2.5vh;
    font-weight: bold;
}
.sw{
    height: 40vh;
    width: 30vw;
    background-color: orange;
    margin: 2vh 4vw 4vh 4vw;
    border-radius: 20px;
    box-shadow: 10px 5px 10px 0px rgba(0, 0, 0, 0.603);
    background-image: url("../Assets/Images/Student-Workshop/SW\ \(1\).JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.wcci{
    height: 40vh;
    width: 30vw;
    background-color: orange;
    margin: 2vh 4vw 4vh 4vw;
    border-radius: 20px;
    box-shadow: 10px 5px 10px 0px rgba(0, 0, 0, 0.603);
    background-image: url("../Assets/Images/WCCI/WCCI-1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.pt{
    height: 40vh;
    width: 30vw;
    background-color: orange;
    margin: 4vh 4vw 4vh 4vw;
    border-radius: 20px;
    box-shadow: 10px 5px 10px 0px rgba(0, 0, 0, 0.603);
    background-image: url("../Assets/Images/Parent-Workshop/Parent-Workshop\ \(1\).JPG");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.kd{
    height: 40vh;
    width: 30vw;
    background-color: orange;
    margin: 4vh 4vw 4vh 4vw;
    border-radius: 20px;
    box-shadow: 10px 5px 10px 0px rgba(0, 0, 0, 0.603);
    background-image: url("../Assets/Images/Kinder-Garden/Activity-America.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.title-box #gallery-title{
    margin-top: 4vh;
    font-size: 8vh;
    font-weight: bold;
    color: #093e70;
}
.title-box #title-dot{
    font-size: 6vh;
    position: relative;
    bottom: 5vh;
    color: orange;
}
.see-more-button-gallery button{
    height: 7vh;
    width: 14vw;
    margin-top: 4vh;
    color: white;
    border: none;
    border-radius: 20px;
    background-color: #093e70;
    cursor: pointer;
    font-size: 2.5vh;
    transition-property: background-color height width border-radius color;
    transition-duration: 0.75s;
}
.see-more-button-gallery button:hover{
    background-color: orange;
    height: 8vh;
    width: 15vw;
    border-radius: 30px;
    color: black;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.438);
}
@media (max-width: 900px){
    .gallery{
        height: 260vh;
        margin-bottom: -10vh;
    }
    .row-one{
        flex-direction: column;
    }
    .row-two{
        flex-direction: column;
    }
    .sw{
        width: 80vw;
        margin-bottom: 6vh;
    }
    .pt{
        width: 80vw;
        margin-bottom: 6vh;
    }
    .kd{
        width: 80vw;
        margin-bottom: 6vh;
    }
    .wcci{
        width: 80vw;
        margin-bottom: 6vh;
    }
    .see-more-button-gallery button{
        width: 35vw;
        height: 6vh;
        font-size: 2.3vh;
    }
    .see-more-button-gallery button:hover{
        width: 35vw;
        height: 7vh;
    }
    .title-box #gallery-title{
        font-size: 6.5vh;
    }
    .title-box #title-dot{
        font-size: 4vh;
    }
}