.vision-mission{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 75vh;
}
.goal-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 80%;
    border: 8px solid white;
    border-radius: 25px;
    background-color: white;
    box-shadow: 0 0 20px 0 rgb(26, 25, 25);
}
.vision-mission-container{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}
#vision-heading{
    font-size: 45px;
    font-weight: bold;
    color: orange;
}
#vision-content{
    font-size: 22px;
    margin-bottom: 6vh;
}
#mission-heading{
    font-size: 45px;
    font-weight: bold;
    color: orange;
}
#mission-content{
    font-size: 22px;
    margin-bottom: 4vh;
}
#know-btn-box{
    height: 8vh;
}
.know-more-btn{
    margin-top: 2vh;
    height: 6vh;
    width: 12vw;
    border-radius: 15px;
    font-size: 15px;
    border: 2px solid #093e70;
    cursor: pointer;
    background-color: none;
    transition-property: border-radius height width background-color;
    transition-duration: 0.5s;
}
.know-more-btn:hover{
    width: 13vw;
    height: 7vh;
    border-radius: 25px;
    background-color: #093e70;
}
@media (max-width: 900px){
    .vision-mission{
        height: 80vh;
    }
    .vision-mission-container{
        padding: 10px;
        text-align: center;
    }
    #vision-heading{
        font-size: 4vh;
    }
    #vision-content{
        font-size: 2.5vh;
    }
    #mission-heading{
        font-size: 4vh;
    }
    #mission-content{
        font-size: 2.5vh;
    }
    .know-more-btn{
        height: 6vh;
        width: 30vw;
        margin-bottom: 4vh;
    }
    .know-more-btn:hover{
        border-radius: 10px;
        height: 6vh;
        width: 35vw;
    }
}